{% extends "base.html" %}

{% block content %}

  <h3>Hey, {{ current_user.name }}</h3>
  <p>The lack of CSS is intentional.</p>
  <hr>

   <div class="all-tasks">
     <div class="task-group">
       <h3>To do:</h3>
       {% for i in todo %}
       <p>
         <b>{{ i.name }}</b><br>
         {{ i.description }}
       </p>
       {% endfor %}
       <p>Add new</p>
       <form action="" method="post">
         {{ todo_form.hidden_tag() }}
         <p>
           {{ todo_form.name.label }}<br>
           {{ todo_form.name(size=100) }}
           {% for error in todo_form.name.errors %}
           <span style="color: red;">
             {{error}}
           </span>
           {% endfor %}
         </p>
         <p>
           {{ todo_form.description.label }}<br>
           {{ todo_form.description(size=200) }}
           {% for error in todo_form.description.errors %}
           <span style="color: red;">
             {{error}}
           </span>
           {% endfor %}
         </p>
         <p>{{ todo_form.submit() }}</p>
     </div>
     <hr>
     <div class="task-group">
       <h3>Doing:</h3>
       {% for i in doing %}
       <p>
         <b>{{ i.name }}</b><br>
         {{ i.description }}
       </p>
       {% endfor %}
       <p>Add new</p>
       <form action="" method="post">
         {{ doing_form.hidden_tag() }}
         <p>
           {{ doing_form.name.label }}<br>
           {{ doing_form.name(size=100) }}
           {% for error in doing_form.name.errors %}
           <span style="color: red;">
             {{error}}
           </span>
           {% endfor %}
         </p>
         <p>
           {{ doing_form.description.label }}<br>
           {{ doing_form.description(size=200) }}
           {% for error in doing_form.description.errors %}
           <span style="color: red;">
             {{error}}
           </span>
           {% endfor %}
         </p>
         <p>{{ doing_form.submit() }}</p>
     </div>
     <div class="task-group">
       <h3>Done:</h3>
       {% for i in done %}
       <p>
         <b>{{ i.name }}</b><br>
         {{ i.description }}
       </p>
       {% endfor %}
       <p>Add new</p>
       <form action="" method="post">
         {{ done_form.hidden_tag() }}
         <p>
           {{ done_form.name.label }}<br>
           {{ done_form.name(size=100) }}
           {% for error in done_form.name.errors %}
           <span style="color: red;">
             {{error}}
           </span>
           {% endfor %}
         </p>
         <p>
           {{ done_form.description.label }}<br>
           {{ done_form.description(size=200) }}
           {% for error in done_form.description.errors %}
           <span style="color: red;">
             {{error}}
           </span>
           {% endfor %}
         </p>
         <p>{{ done_form.submit() }}</p>
     </div>
   </div>

{% endblock %}
