{% extends "base.html" %}

{% block content %}

  <h1>{{ current_user.id }}</h1>
  <h1>{{ current_user.name }}</h1>

   <div class="all-tasks">
     <div class="task-group">
       <h3>To do:</h3>
       <form action="" method="post">
         <!-- what does this do? -->
         {{ todo_form.hidden_tag() }}
         <p>
           {{ todo_form.name.label }}<br>
           {{ todo_form.name(size=100) }}
           {% for error in todo_form.name.errors %}
           <span style="color: red;">
             {{error}}
           </span>
           {% endfor %}
         </p>
         <p>
           {{ todo_form.description.label }}<br>
           {{ todo_form.description(size=200) }}
           {% for error in todo_form.description.errors %}
           <span style="color: red;">
             {{error}}
           </span>
           {% endfor %}
         </p>
         <p>{{ todo_form.submit() }}</p>
     </div>
     <div class="task-group">
       <h3>Doing:</h3>
     </div>
     <div class="task-group">
       <h3>Done:</h3>
     </div>
   </div>

   {% for i in all %}
   <p>yo</p>
   <h5>{{ i.name }}</h5>
   {% endfor %}

  <!--
  {% for board in boards %}
  <p>{{ board.name }}</p>
  {% endfor %}
  -->

{% endblock %}
